{
    "alerts": {
        "email": {
            "dest_email": "lol@lol.lol",
            "smtp_server": "localhost",
            "smtp_port": 25
        },
        "telegram": {
            "chat_id": 123456789,
            "token": "MLKJQSDMLKJSQDMLQKSJDMLQKSJDMLKSQJD"
        }
    },
    "default_alert" : ["email", "telegram"],
    "pid_file": "webwatchr.pid",
    "last_dir": ".lasts",
    "site_timeout": 120,
    "log": "webwatchr.log"
}
